<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <title>{% block title %}Time{% endblock %}</title>
    </head>
    <body>
        <div class="container" role="main">
            <nav class="navbar nav-default">
                <div class="container-fluid">
                    <div class="nav-header">
                        <a class="navbar-brand" href="#">Netsville</a>
                    </div>
                    {% if user.is_authenticated %}
                        <ul class="nav nav-pills">
                            <li{% if request.path == "/shifts" %} class="active"{% endif %}><a href="/shifts">Shifts</a></li>
                            <li{% if request.path == "/export" %} class="active"{% endif %}><a href="/export">Export</a></li>
                            <li{% if request.path == "/profile" %} class="active"{% endif %}><a href="/profile">Profile</a></li>
                            {% if perms.auth.can_send_registration  %}<li{% if request.path == "/send_registration" %} class="active"{% endif %}><a href="/send_registration">Invites</a></li>{% endif %}
                            <li><a href="/logout">Logout</a></li>
                        </ul>
                    {% endif %}
                    </div>
                </nav>

            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{% spaceless %}
                        {% if message.level_tag == "error" %}
                            danger
                        {% else %}
                            {{ message.level_tag }}
                        {% endif %}
                    {% endspaceless %}" role="alert">
                        <a href="{{request.path}}" class="btn" role="button"><span class="glyphicon glyphicon-remove align-left" aria-hidden="true"></span></a>
                        {{ message }}    
                    </div>
                {% endfor %}
            {% endif %}

            {% block main %}
            {% endblock %}
        </div>
    </body>
</html>

