{% extends "base.html" %}
{% block title %}Export{% endblock %}
{% block main %}
    <div class="col-md-12">
    <h3>{{ start_of_week }} - {{ end_of_week }}</h3>
        <table class="table table-hover">
            <tr>
            <th>Day</th>
            <th>Hours</th>
            <th>Tasks</th>
            </tr>
            {% for shift,hours in shifts_and_hours %}
                <tr>
                <td>{{ shift.start.time|date:"l" }}</th>
                <td>{{ hours|floatformat:2 }}</th>
                <td>{{ shift.tasks_completed }}</th>
                </tr>
            {% endfor %}
            <tr>
            <td>Total:</td>
            <td colspan="4">{{ total_hours|floatformat:2 }}</t>
            </th>
        </table>
    </div>
    <div class="col-md-6">
    <ul class="nav nav-pills">
    <li><a href="{{request.path}}?year={{ year }}&week={{ week|add:"-1" }}"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span></a></li>
    <li><a href="{{request.path}}?year={{ year }}&week={{ week|add:"1" }}"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a></li>
    </ul>
    </div>
{% endblock %}
