{% extends "base.html" %}
{% block title %}Export{% endblock %}
{% block main %}
    <div class="col-md-12">
    <h3>{{ start_of_week }} - {{ end_of_week }}</h3>
    {% if perms.auth.can_view_others %}
        <h4>
            <div class="btn-group">
                <a class="btn btn-default" role="button" href="export?year={{ year }}&week={{ week }}&user={{user.id}}&type=csv">Download</a>
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Veiwing {{view_user.username}} <span class="caret"></span>
                    <span class="sr-only">Select user</span>
                </button>
                <ul class="dropdown-menu">
                    {% for user in users %}
                        <li><a href="/export?year={{ year }}&week={{ week }}&user={{user.id}}">{{ user.username }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </h4> 
    {% endif%}
        <table class="table table-hover text-left">
            <tr>
            <th class="col-md-1">Day</th>
            <th class="col-md-1">Hours</th>
            <th class="col-md-10">Tasks</th>
            </tr>
            {% for day,shifts,hours in day_shifts_and_hours %}
                <tr>
                <td>{{ day|date:"l" }}</td>
                <td>{{ hours|floatformat:2 }}</td>
                <td>
                    {% for shift in shifts %}
                        {{ shift.tasks_completed }}
                    {% endfor %}
                </td>
                </tr>
            {% endfor %}
            <tr>
            <td>Total:</td>
            <td colspan="4">{{ total_hours|floatformat:2 }}</td>
            </tr>
        </table>
    </div>
    <div class="col-md-6">
    <ul class="nav nav-pills">
    <li><a href="{{request.path}}?year={{ year }}&week={{ week|add:"-1" }}&user={{view_user.id}}"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span></a></li>
    <li><a href="{{request.path}}?year={{ year }}&week={{ week|add:"1" }}&user={{view_user.id}}"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a></li>
    </ul>
    </div>
{% endblock %}
