{% extends "base.html" %}
{% block title %}
Login
{% endblock %}
{% block main %}
<div class="col-md-6">
<form action="/login" method="POST">
{% csrf_token %}
<div class="form-group">
<label for="username">Username</label>
<input id="username" class="form-control" type="text" placeholder="User" name="username"></input>
<label for="password">Password</label>
<input id="password" class="form-control" type="password" placeholder="Password" name="password"></input>
</div>
<button class="btn btn-default" type="sumbit">Login</button>
</form>
</div>
{% endblock %}
