{% extends "base.html" %}
{% block title %}Shifts{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-md-6">
            <h3>Clock</h3>
            <form action="/shifts" method="POST">
                {% csrf_token %}
                <div class="btn-group">
                    {% for choice in event_choices %}
                        <button type="sumbit" class="btn btn-default"{% if not choice.0 in possible_events %} disabled=true{% endif %} name="event" value="{{ choice.0 }}">{{ choice.1 }}</button>
                    {% endfor %}
                </div>
            </form>
                {% if last_event == None %}
                    Welcome new user!
                {% else %}
                    <ul class="list-group">
                    {% for event in lastest_events|slice:"::-1"|slice:":5" %}
                        <li class="list-group-item">{{ event.get_event_display}} @{{ event.time }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
        </div>
        <div class="col-md-6">
            <h3>Tasks</h3>
            <form action="/shifts" method="POST">
                {% csrf_token %}
                <div class="input-group">
                    <input class="form-control" autocomplete="off" type="text" name="desc" placeholder="Task"></input>
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="sumbit" {% if last_shift.out != None %}disabled{% endif %}name="event" value="task">Submit</button>
                    </span>
                </div>
            </form>
            {% if last_shift != None %}
                <ul class="list-group">
                {% for task in tasks_completed reversed %}
                    <li class="list-group-item">{{task}}</li>
                {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
{% endblock %}
